{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=100">
{% endblock %}

{% block styles %}
    {{super()}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{{url_for('.static', filename='js/scripts.js')}}"></script>
    {{super()}}
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - wolproxypy{% else %}Welcome to wolproxypy{% endif %}
{% endblock %}

{% block navbar %}
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-inverse" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('home')}}">
            <img src="{{url_for('.static', filename='images/logo.svg')}}" alt="logo" height="24" class="d-inline-block align-text-center">
            wolproxypy
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="nav-item"> <a class="nav-link" href="{{url_for('home')}}">
                <span class="glyphicon glyphicon-home"></span> Home
              </a></li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('edit_hosts')}}">
                <span class="glyphicon glyphicon-edit"></span> Edit
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-question-sign"></span> Help</span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{url_for('about')}}">About</a></li>
                <li><a href="https://wolproxypy.readthedocs.io/en/latest/">ReadTheDocs</a></li>
                <li class="divider"></li>
                <li><a href="https://github.com/bateman/wolproxypy">wolproxypy Core</a></li>
                <li><a href="https://github.com/bateman/wolproxypy-api">wolproxypy API</a></li>
                <li><a href="https://github.com/bateman/wolproxypy-web">wolproxypy Web</a></li>
                <li class="divider"></li>
                <li><a href="https://hub.docker.com/r/bateman/wolproxypy">Docker</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_anonymous %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> <b>Login</b></span></a>
              <ul id="login-dp" class="dropdown-menu">
                <li>
                  <div class="row">
                    <div class="col-md-12">
                      Login via
                      <div class="social-buttons">
                        <a href="#" class="btn btn-gg"><i class="fa fa-google"></i> Google</a>
                        <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                      </div>
                      or
                      <form class="form" role="form" method="post" action="{{url_for('login_navbar')}}" accept-charset="UTF-8" id="loginnav">
                        <div class="form-group">
                          <label class="sr-only" for="navbarusername">Username</label>
                          <input type="username" class="form-control" id="navbarusername" name="navbarusername" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                          <label class="sr-only" for="navbarpassword">Password</label>
                          <input type="password" class="form-control" id="navbarpassword" name="navbarpassword" placeholder="Password" required>
                          <div class="help-block text-right"><a href="{{url_for('login')}}">Forgot the password?</a></div>
                        </div>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" id="navbarcheckbox" name="navbarcheckbox" checked> Remember me
                          </label>
                        </div>
                      </form>
                    </div>
                    <div class="bottom text-center">
                      New here? <a href="{{url_for('register')}}"><b>Register</b></a>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
          {% else %}
          <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-log-in"></span>
                    <b>{{ current_user.username }}</b>
                </a>
                <ul id="loggedin-dp" class="dropdown-menu">
                    <div class="row">
                        <div class="col-md-12">
                            <li>
                                <a class="dropdown-item" href="{{url_for('edit_profile')}}">
                                    <img src="{{ current_user.get_avatar(16) }}"> Edit profile
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{url_for('logout')}}">
                                    <span class="glyphicon glyphicon-log-out"></span> Logout
                                </a>
                            </li>
                        </div>
                    </div>
                </ul>
          </li>
          {% endif %}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</div>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
