{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form, button_map={'submit':'primary', 'wake':'primary'}) }}
            </div>
        </div>
        {{ form.hidden_tag() }}
    {% endif %}
    <br>
    <h3>Condigured hosts</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Host name</th>
                <th>MAC address</th>
                <th>IP address</th>
                <th>Port</th>
                <th>Interface</th>
                <th>Wake</th>
            </tr>
        </thead>
        <tbody>
            {% for host in hosts %}
                {% include '_addhost.html' %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
